@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

.main-title {
  font-family: 'Bungee', cursive;
  color: #EFCA08;
  line-height: 2rem;
  border: 10px solid black;
  border-radius: 50px;
}
.slogan-title {
  font-size: 20px;
  font: bold;
  font-family: 'Montserrat', cursive;
}

.grid {
  grid-gap:15x; 
  display: grid; 
  grid-template-columns: repeat(var(--columns, 12), minmax(1em, 1fr)); 
  grid-column: span 12 ;
  margin-top:20px;
  }

.med-title {
  font-family: 'Bungee', cursive;
  color:#F49F0A;
}

.ohj-title {
  line-height: 7.5rem;
}
.navigation {
  padding: 0.5rem 5.5rem 0.5rem 5.5rem;
  margin:0;
}

.navigation ul {
  text-decoration: none;
  color: black;
  display:block;
}

.navigation li {
  display: inline-block;
  padding: 1rem;
}

.navigation ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font: 30px bold;
}

.navigation a:hover {
    color: aquamarine;
}

.one {
  list-style-image: url("/img/check_circle-24px(1).svg");
  color: #BBDEF0;
}

.two {
  color: #BBDEF0;
  list-style: none;
}

.two li::before {
  content: "⭐️";
}

.course-menu {
  display: grid;
  grid-template-columns:repeat(4, 8rem);
  justify-items: left;
}

.small-title {
  padding: 2.5rem 1rem 1rem 1rem; 
}

.font-size {
  font-size: 25px;
}
.font-size1 {
  font-size: 20px;
}